<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Anthony Blessing</h1>
                <h2>Web Developer and Chess Candidate Master</h2>
                <h3>Welcome to my page! I am a full stack developer experienced with Ruby on Rails and JavaScript.  I am also a competitve tournament chess player who enjoys traveling to compete.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/ant.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
