<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Chess_rlt45.svg/2000px-Chess_rlt45.svg.png" height="300" width="300" />
            <p>{{ site.testimonial.message }}</p>
            <h4><br/>{{ site.testimonial.author }}</h4>
            <p>{{ site.testimonial.position }}</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->
